*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 30;

}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: rgb(228, 225, 204);
    color: black;
    padding: 40px 20px;
    align-items: center;
    height: 40px;
    width: 92%;
    
}

.nav-title{
    font-size: 24px;
    font-weight: bold;
}

.btn{
    background-color:rgb(42, 147, 189);
    color: #fff;
    border: solid black;
    box-shadow: 1px 1px 1px 1px black;
    width: 60px;
    cursor: pointer;    
}


/*Body Content*/
.row-1{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 126px 0px;
}

.row-2{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 0;
}


.ninja-def1 {
    border: 1px solid black;
    width: 60%;
    padding-left: 20px;
    margin-bottom: 25px ;
    display: flex;
}

#nd-1{
    display: flex;
    text-align: left;
    align-items: center;
}

#nd-1-sentence{
    display: flex;
    align-content: center;
    position: relative;
    bottom: -47px;
    
}

.ninja-def2{
    border: 1px solid black;
    width: 60%;
    padding-left: 20px;
    display: flex;

}

#nd-2{
    display: flex;
    text-align: left;
    align-items: center;
}

#nd-2-sentence{
    display: flex;
    align-content: center;
    position: relative;
    bottom: -47px;
}

.side-tab{
    border:1px solid black;
    width: 30%;
    height: 160px;
    position:absolute;
    top: 176px;
    right: 30px;
    padding-left: 39px;
    
}

.color-underline{
    color: blue;
    text-decoration: underline;
}

#btn-yellow{
    background-color:rgb(229,198,22);
    box-shadow: 1px 1px 1px black;
    font-weight: bold;
    cursor: pointer;

}

#btn-green{
    background-color: rgb(170, 235, 72);
    box-shadow: 1px 1px 1px black;
    width:80%;
    font-weight: bold;
    cursor: pointer;
}







